* {
    box-sizing: border-box;
}

body {
    margin: 0;
}




#plans p::first-letter{

  color: red;
}

.plan {

    display: inline-block;
    text-align: center;
    padding: 12px;
    margin: 8px 12px;
    width: 30%;
    vertical-align: middle;
    background-color:lightgreen;
}


.plan--highlighted {

    background-color:green;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba( 0, 0, 0, 0.5);

}

.plan__annotation {

    background: white;
    color: lightgreen;
    padding: 4px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px rgba( 0, 0, 0, 0.5);

}

.plan__feature {

    list-style: none;

}

.plan__feature li{

    padding: 4px 0px;
    
}

.plan__price {

    color:grey;
}

.plan__title {

    color:green;
}

.plan--highlighted .plan__title{

     color: white;
}


.button{
background: green;
color: white;
border: 2px solid black;
padding: 8px;
border-radius: 8px;
font:inherit;
}

.button:hover,
.button:active{

background: white;
color:green;

}


#key-features{

    background-color: red;
}

.key-features__list{
   list-style: none;
   padding: 0;
   margin: 0;
   text-align: center;
}

.key-feature{
    display: inline-block;
    width: 30%;
}

.key-features__description{

    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.key-features__image{
    
    width: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    background-color: #ffcede;
    height: 128px;
    margin: auto;


}