* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#product-overview {
    background: url("home_page.png") no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 528px;
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
    
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}

#product-overview h1 {
    color: white;
}

.main-header {
    width: 100%;
    background-color: lightgreen;
    padding: 8px 10px;
    vertical-align: center;
}


.main-header div {
    display: inline-block;
}


.main-nav{

    display: inline-block;
    padding: 2px;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}

.main-nav .main-nav__items .main-nav__item{

    display: inline-block;
    padding: 0;
    margin: 0 16px;
}

.main-header__brand a{

    text-decoration: none;
    font-size:22px;
    font-weight: bold;
}

.main-nav__item a{

    text-decoration: none;
    color:green;
    padding: 2px;

}


.main-nav__item a:hover,
.main-nav__item a:active{

    color:white;
    border-bottom: solid white 2px;


}

.main-nav__item--cta a{

    color:white;
    background: red;
    padding: 8px 12px;
    border-radius: 8px;
}


.main-nav__item--cta a:hover,
.main-nav__item--cta a:active{

    color:red;
    background:white;
}
#plans p::first-letter{

  color: red;
}

.plan {

    display: inline-block;
    text-align: center;
    padding: 12px;
    margin: 8px 12px;
    width: 30%;
    vertical-align: middle;
    background-color:lightgreen;
}


.plan--highlighted {

    background-color:green;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba( 0, 0, 0, 0.5);

}

.plan__annotation {

    background: white;
    color: lightgreen;
    padding: 4px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 2px rgba( 0, 0, 0, 0.5);

}

.plan__feature {

    list-style: none;

}

.plan__feature li{

    padding: 4px 0px;
    
}

.plan__price {

    color:grey;
}

.plan__title {

    color:green;
}

.plan--highlighted .plan__title{

     color: white;
}


.button{
background: green;
color: white;
border: 2px solid black;
padding: 8px;
border-radius: 8px;
font:inherit;
}

.button:hover,
.button:active{

background: white;
color:green;

}


#key-features{

    background-color: red;
}

.key-features__list{
   list-style: none;
   padding: 0;
   margin: 0;
   text-align: center;
}

.key-feature{
    display: inline-block;
    width: 30%;
}

.key-features__description{

    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.key-features__image{
    
    width: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    background-color: #ffcede;
    height: 128px;
    margin: auto;


}

.main-footer{
  background: black;
  text-align: center;
  padding: 32px;
  margin-top: 48px;

}

.main-footer__links{
    list-style: none;
}

.main-footer__link{

    display:inline-block;
    margin: 0 16px;
}

.main-footer__link a{

    color: white;
    text-decoration: none;
}

.main-footer__link a:hover{

    color: #ccc;
}